*.pyc
OPENiapp/.idea/*
OPENiapp/.idea/
OPENiapp/.idea

OPENiapp/OPENiapp.pyproj
OPENiapp/OPENiapp.pyproj.user
OPENiapp/OPENiapp.sln
OPENiapp/OPENiapp.v12.suo
OPENiapp/web.config
OPENiapp/bin/*
OPENiapp/obj/*

.idea/*


.idea/*

*.db

.idea/misc.xml

.idea/modules.xml

OPENiapp/apiplatform.log
