*.pyc
OPENiapp/.idea/*
OPENiapp/.idea/
OPENiapp/.idea

api-framework.sln
api-framework.v12.suo
OPENiapp/OPENiapp.pyproj
OPENiapp/OPENiapp.pyproj.user
OPENiapp/web.config
OPENiapp/bin/*
OPENiapp/obj/*

.idea/*

*.db
*.log

OPENiapp/apiplatform.log

OPENiapp/OPENiapp/Providers/Youtube/client_secrets.json

checkio.py