# All Python compiled files
*.pyc

# Intellij Idea
.idea/*

# Visual Studio
*.sln
*.suo
*.pyproj
*.pyproj.user
OPENiapp/web.config
OPENiapp/bin/*
OPENiapp/obj/*

# Database and log files
*.db
*.log

# API keys for Youtube - Temporary
OPENiapp/OPENiapp/Providers/Youtube/client_secrets.json

# This should probably leave. Michael?
checkio.py