Django==1.6
wsgiref==0.1.2
gunicorn==0.17.2
#django-allauth
git+https://github.com/pennersr/django-allauth.git
#psycopg2==2.4.6
dj-database-url==0.2.1
python-openid>=2.2.5
requests>=1.0.3
requests-oauthlib>=0.3.0
simplejson
facepy
twython
dropbox
django-tastypie
python-instagram
google-api-python-client
foursquare
mimeparse
#django-tastypie-swagger==0.1.2
git+git://github.com/concentricsky/django-tastypie-swagger.git@master
south
python-google-places
flickr_api
#git+https://github.com/vimeo/vimeo.py.git
#tornado
python-onedrive[standalone]
